[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
python-dotenv = "*"
django-qr-code = "*"
django-storages = "*"
boto3 = "*"
django-configurations = "*"

[dev-packages]

[requires]
python_version = "3.9.6"
