{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HackTCNJ coming soon!</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <meta name="viewport" content="width=device-width" />
        <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet" />
        <script src="https://kit.fontawesome.com/2b86215731.js" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="{% static '/css/waitinglist/coming-sssoon.css' %}" rel="stylesheet" />

        <link rel="shortcut icon" type="image/jpg" href="{% static 'hackathonicon.jpg' %}"/>
        <!--     Fonts     -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet" />
        <link href="http://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet" type="text/css" />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    </head>

    <body>
      <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/2022/events?utm_source=na-hackathon&utm_medium=TrustBadge&utm_campaign=2022-season&utm_content=gray" target="_blank">
        <img src="https://s3.amazonaws.com/logged-assets/trust-badge/2022/mlh-trust-badge-2022-gray.svg" alt="Major League Hacking 2022 Hackathon Season" style="width:100%"></a>
        <div class="main" style="background-image: url({% static '/css/waitinglist/tacofall2.jpg' %});">
            <div class="cover blue" data-color="blue"></div>

            <div class="container">
                <h1 class="logo cursive">
                    HackTCNJ 2022
                </h1>

                <div class="content">
                    <h4 class="motto">April 9th - 10th, 2022</h4>
                    <div class="subscribe">
                        <h5 class="info-text">
                            Join the Hype List. Support our Fundraiser and get <a class="text-bold text-info" target="_blank" rel="noopener noreferrer" href="{% url 'fundraiser' %}">Exclusive Merch</a>😎
                        </h5>
                        
                        <div class="row justify-content-center mt-1">
                            <div class="col-lg-6 col-md-7 col-sm-7 col-xs-5 align-self-center text-center">
                                {% for field in waitlist_form %} 
                                    {% for error in field.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                                        <strong>Request Failed: </strong> {{ error|escape }}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                    {% endfor %} 
                                {% endfor %} 
                                {% for message in messages %}
                                <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
                                    <strong>{{message}}</strong>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-4 align-self-center text-center cjustify-center">
                                <form class="form" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group mt-1">
                                        {{ waitlist_form.full_name }}
                                        <br/>
                                        {{ waitlist_form.email }}
                                        <input type="submit" class="btn btn-info btn-fill mt-3" />
                                    </div>
                                </form>
                            </div>
                        </div>
                        <h5 class="info-text">For Now, Peep The Socials :) </h5>
                        <div class="row justify-content-center mt-2">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-4 align-self-center text-center">
                                <div class="row">
                                    <div class="col">
                                        <a href="https://www.facebook.com/hacktcnj" target="_blank" rel="noopener noreferrer" class="text-white" style="font-size: larger;"><i class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="col">
                                        <a href="https://twitter.com/HackTCNJ" target="_blank" rel="noopener noreferrer" class="text-white" style="font-size: larger;"><i class="fa fa-twitter"></i></a>
                                    </div>
                                    <div class="col">
                                        <a href="mailto: contact@hacktcnj.com" target="_blank" rel="noopener noreferrer" class="text-white" style="font-size: larger;"><i class="fa fa-envelope"></i></a>
                                    </div>
                                    <div class="col">
                                        <a href="https://www.instagram.com/hacktcnj/" target="_blank" rel="noopener noreferrer" class="text-white" style="font-size: larger;"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="container">
                  <a class="c-float-left" href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank"> MLH Code of Conduct </a>
                  Made with <i class="fa fa-heart heart text-info"></i> by the
                    <a id="Architects" class="text-decoration-none" type="button" data-bs-container="body"  data-bs-toggle="tooltip" data-bs-trigger="hover focus" data-bs-placement="top" data-bs-html="true" title="<em>Kevin Williams</em> | <em>Abhi Vempati</em>  <em>Sterly Deracy</em> | <em>Jan Tameta</em>">
                        Architects
                    </a>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</html>
