
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="height: 100vh;">
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
		<div class="p-5 rounded-3" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
      		<div class="container-fluid py-5">

				<h1 class="text-center pb-4" style="color: rgba(0,0,0,1);"> Log In</h1>
			
				<form method="POST" action=""> {% csrf_token %}
					<div class="form-row m-1">
						<div class="form-group col-12">
							<input type="text" class="form-control" name="email" placeholder="email">
						</div>
					</div>
					<div class="form-row m-1">
						<div class="form-group col-12">
							<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						</div>
					</div>
					<div class="row m-1 justify-content-center">
						<div class="col-12 m-1">
							{% for message in messages %}
								<div class="alert alert-danger alert-dismissible col-md-3 col-lg-12" role="alert">
									{{message}}
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							{% endfor %}
						</div>
					</div>
					<div class="form-row text-center">
						<div class="form-group col-12">
							<button class="btn btn-warning" type="submit">Submit</button>
						</div>
					</div>
				</form>
				<br>
				<div class="row justify-content-center">
					<div class="col-auto">
						<a class="btn btn-outline-primary btn-sm text-center" href="{% url 'reset_password' %}">Forgot Password?</a>
					</div>
				</div>
				<div class="row justify-content-center mt-2" >
					<div class="col-auto">
						<a class="btn btn-outline-warning btn-sm text-center" href="{% url 'registration' %}">New User?</a>
					</div>
				</div>
			</div>
		</div>
	</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/2b86215731.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
</body>
</html>