{% extends 'defaults/form_base.html' %}
{% load static %}

{% block form %}
<title> HackTCNJ Login </title>
    <h1 class="text-center pb-4 text-white"> <a href="{% url 'landing' %}"><i class="fa-solid fa-arrow-left-long"></i></a>  Log In</h1>

    <form class="" method="POST" action=""> {% csrf_token %}
        <div class="form-row m-1">
            <div class="form-group col-12">
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
        </div>
        <div class="form-row m-1">
            <div class="form-group col-12">
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
        </div>
        <div class="row m-1 justify-content-center">
            <div class="col-12 m-1">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible col-md-3 col-lg-12" role="alert">
                        {{message}}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="form-row text-center">
            <div class="form-group col-12">
                <button class="btn btn-warning" type="submit">Submit</button>
            </div>
        </div>
    </form>
    <br>
    <div class="row justify-content-center">
        <div class="col-auto">
            <a class="btn btn-outline-primary btn-sm text-center" href="{% url 'reset_password' %}">Forgot Password?</a>
        </div>
    </div>
    <div class="row justify-content-center mt-2" >
        <div class="col-auto">
            <a class="btn btn-outline-warning btn-sm text-center" href="{% url 'registration' %}">New User?</a>
        </div>
    </div>
{% endblock form %}