{% extends 'defaults/base.html' %}

{% load static %}  

{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'css/landing_css/style.css' %}">
  </head>
  <body class="overlay gr-overlay">
    <div class="centerForm">
      <h3 class="centerHeaderText">Password reset sent</h3>


      <p style="color: #fff">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

      <p style="color: #fff">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
  </body>
{% endblock %}