{% extends 'defaults/form_base.html' %}

{% load static %}


{% block head %}
<script src="{% static 'js/form/passwordReset.js' %}" defer></script>
<title> HackTCNJ Password Success! </title>
{% endblock head %}

{% block form %}

<div class="centerForm passwordResetSuccessForm">
<h3 class="text-center pb-4">Password reset complete</h3>
<p id="password_reset_success" class="d-none"></p>
<p class="text-center">Your password has been set. You may go ahead and log in now.</p>

<div class="row text-center">
  <div class="col">
    <button onclick="location.href = '/';" class="btn btn-outline-primary text-center" >Home</button>
  </div>
</div>

{% endblock form %}
