{% extends 'defaults/base.html' %}

{% load static %}  

{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'css/landing_css/style.css' %}">
  </head>
  <body class="overlay gr-overlay">
    <div class="centerForm passwordResetForm">
    <h3 class="centerHeaderText">Password reset</h3>

    <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

    <form method="post">

	    {% csrf_token %}
	    {{form}}
	    <input type="Submit" name="Send email" style="border-radius: 10px;">
	
    </form>
    </div>
  </body>
{% endblock %}