{% extends 'defaults/form_base.html' %}

{% load static %}


{% block head %}
<script src="{% static 'js/form/passwordReset.js' %}" defer></script>
<title> Password Reset </title>
{% endblock head %}

{% block form %}
<p id="password_reset_sent" class="d-none"></p>
<h3 class="text-center">Password Reset Sent</h3>

<h5 class="text-center">We’ve emailed you instructions for setting your password.</h5>

<p class="text-center">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>

{% endblock form %}
