{% extends 'defaults/form_base.html' %}

{% load static %}


{% block head %}
<script src="{% static 'js/form/passwordReset.js' %}" defer></script>
{% endblock head %}

{% block form %}
    <p id="password_reset" class="d-none"></p>
    <h3 class="text-center pb-4">Password reset</h3>

    <p class="text-center pb-4">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
    <form method="post">{% csrf_token %}
      <div class="row m-1 w-100 justify-content-center">
        <div class="col text-center">
          {% for message in messages %}
            <div class="alert alert-danger alert-dismissible col-md-3 col-lg-12" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
      {% endfor %}
        </div>
      </div>
      <div class="row m-1 w-100 justify-content-center mb-2">
        <div class="col text-center" id="form_email">
          {{password_reset_form.email}}
        </div>
      </div>
      <div class="row m-1 w-100 justify-content-center">
        <div class="col text-center">
          <button class="btn btn-primary" type="submit" name="Send Email">Submit</button>
        </div>
      </div>
    </form>
{% endblock form %}


{% block script %}
  <script defer>
    var container, inputs, index;
    container = document.getElementById('form_email');
    inputs = container.getElementsByTagName('input');

    for (index = 0; index < inputs.length; ++index) {
      inputs[index].placeholder = "Email";
      inputs[index].className += "form-control text-center"

    }
  </script>
{% endblock script %}
  