{% extends 'defaults/form_base.html' %}


{% block form %}
      <h3 class="text-center pb-4">Enter New Password</h3>
      
      <p class="text-center">Please enter a new alpha-numeric passphrase of at lease 8 characters in lentgh.</p>
      
      <form method="post">{% csrf_token %}
        <div class="row m-2 w-100 justify-content-center">
          <div class="col text-center" id="form_password">
            {{ form.new_password1 }}
          </div>
        </div>
        <div class="row m-2 w-100 justify-content-center">
          <div class="col text-center" id="form_password_conf">
            {{ form.new_password2 }}
          </div>
        </div>
        <div class="row m-2 w-100 justify-content-center">
          <div class="col text-center">
            <button class="btn btn-primary" type="submit" name="Update Password">Submit</button>
          </div>
        </div>
      </form>   
{% endblock form %}

{% block script %}
  <script >
    var container, inputs, index;
    container = document.getElementById('form_password');
    inputs = container.getElementsByTagName('input');
    for (index = 0; index < inputs.length; ++index) {
      inputs[index].placeholder = "Password";
      inputs[index].className += " text-center"
    }

    var container2, inputs2;
    container2 = document.getElementById('form_password_conf');
    inputs2 = container2.getElementsByTagName('input');
    for (index = 0; index < inputs2.length; ++index) {
      inputs2[index].placeholder = "Password Confimation";
      inputs2[index].className += " text-center"
    }



  </script>
{% endblock script %}