{% extends 'defaults/base.html' %}

{% load static %}  

{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'css/landing_css/style.css' %}">
  </head>
  <body class="overlay gr-overlay"> 


    <div class="centerForm passwordResetSuccessForm">
    <h3 class="centerHeaderText">Password reset complete</h3>

    <p style="text-align: center;">Your password has been set. You may go ahead and log in now.</p>

    <button onclick="location.href = '/';" class="passwordResetSuccessBtn" >Home</button>
    </div>
  </body>
{% endblock %}