{% extends 'defaults/base.html' %}

{% load static %}  

{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'css/landing_css/style.css' %}">
  </head>
  <a class="navbar-brand" href="{% url 'landing' %}">
    <!-- <img src="images/logo.png" alt="" class="img-fluid b-logo"> -->
    <h4 style = "color: white; margin-top: 10%;">HackTCNJ</h4>
 </a>
  <body class="overlay gr-overlay">
    <div class="centerForm" style="width: fit-content; padding: 3%">
      <h3 class="centerHeaderText">Password reset sent</h3>


      <p style="color: #fff">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

      <p style="color: #fff">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
  </body>
{% endblock %}