{% extends 'defaults/base.html' %}

{% load static %}

{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'css/landing_css/style.css' %}">
  </head>
  <body class="overlay gr-overlay">
    <div class="registerFormBorder" style="margin-top:5px; padding:5px">
      <h4 class="centerHeaderText"> Register </h4>
      <form class="centerForm" method ="POST"> {% csrf_token %}
        {{user.as_p}}
        {{hacker.as_p}}
      <input type="submit" style="width:100%;" value="save">
      </form>
    </div>
  </body>
{% endblock %}