{% extends 'defaults/base.html' %}

{% load static %}

{% block content %}
  <head>
    <link rel="stylesheet" href="{% static 'css/landing_css/style.css' %}">
    <style>
    input {
      border-radius: 10px;
    }
    </style>
  </head>
  <body class="overlay gr-overlay">
    <div class="registerFormBorder" style="margin-top:5px; padding:5px;">
      <h4 class="centerHeaderText"> Register </h4>
      <form class="centerForm" method ="POST"> {% csrf_token %}
        {{form.firstName}}
        {{form.lastName}}
        {{form.email}}
        {{form.password}}
        {{form.passwordConfirmation}}
        {{form.address}}
        {{form.education}}
        {{form.major}}
        {{form.foodPreference}}
        {{form.shirtSize}}
      <input type="submit" style="width:100%; background-color: #fcef41a4; color: #fff" value="Register">
      </form>
    </div>
  </body>
{% endblock %}