{% extends 'organizers/base.html' %}

{% load static %}

{% block content %}
  <head>
    <style>
      .organizerForm {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 35%;
        height: 40%;
        background-color: #343a40;
        border-radius: 25px;
        color: #fff;
        padding: 2%;
        text-align: center;
      }
      .centerHeaderText {
        text-align: center;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <div>
      <form class="organizerForm" method="POST" >{% csrf_token %}
        <h4 class="centerHeaderText" style="margin-bottom: 3%"> Add Organizer </h4>
        <div class="form-row">
            <div class="col-md-12 mb-3 " >
                {{form.fname}}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-12 mb-3 " >
                {{form.lname}}
            </div>
        </div>

        <div class="form-row" >
            <div class="col-md-12 mb-3 " >
                {{form.email}}
            </div>
        </div>

        <div class="form-row justify-content-center" >
            <div class="col-md-6 mb-3 text-center" >
                <button class="btn btn-lg btn-outline-success" style="background-color: rgb(54, 94, 60); color: #fff;"  type="submit" value="save">Invite</button>
            </div>                    
        </div>
        
      </form>
    </div>
  </body>
{% endblock %}