{% extends 'organizers/base.html' %}
 {% block content %}


<div class="container w-75 mt-3">
    <div class="row justify-content-between align-items-center" style="margin-top: 5px; ">
        <h2>{{this_hacker.hacker.first_name}} {{this_hacker.hacker.last_name}}</h2>    </div>
{% comment %} </div>  {% endcomment %}
 <div class="d-flex justify-content-center">
        <table class="table">          
            <tbody>
                <tr>
                    <th scope="col">Email</th>
                    <td>{{this_hacker.hacker.email}}</td>
                </tr>
                <tr>
                    <th scope="col">Food Preference</th>
                    <td>{{this_hacker.food_preference}}</td>
                </tr>
                <tr>
                    <th scope="col">Shirt Size</th>
                    <td>{{this_hacker.shirt_size}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
