{% extends 'organizers/base.html' %}

{% block content %}

    {% if head_org %}
        <div class="row mt-5 text-center justify-content-center">

            <div class="col-lg-6 col-md-12 mb-5">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0,.19);">
                    <div class="card-body text-center">
                        <h5 class="card-title">Django Admin Panel</h5>
                        <p class="card-text">Access Django's Admin dashboard for awesome power</p>
                        <a href="admin" class="btn btn-outline-primary">Admin</a>
                    </div>
                </div>
            </div>
            
            <!-- second card, should be next to each other tho -->
            <div class="col-lg-4 col-md-12">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0,.19);">
                    <div class="card-body text-center">
                        <h5 class="card-title">Organizers</h5>
                        <p class="card-text">See other planning committee members</p>
                        <a href="{% url 'all-organizers' %}" class="btn btn-outline-primary">Organizers</a>
                    </div>
                </div>
            </div>
        </div>
  
    {% endif %}

    <div class="col-lg-4 col-md-12">
        <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0,.19);">
            <div class="card-body text-center">
                <h5 class="card-title">Stat Sheet</h5>
                <p class="card-text">All the Hackathon Data</p>
                <a href="{% url 'statistics' %}" class="btn btn-outline-primary">Stats</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}