{% extends 'organizers/base.html' %}
 {% block content %}
 
<br>
{% comment %} <a href="{% url 'checkedin-hackers' %}" class='btn btn-secondary'>Checked-in Hackers</a> {% endcomment %}

<div class="container w-75 mt-3">
    <a href="{% url 'manual-checkin' %}" class='btn btn-secondary'>Check-in</a>
    <a href="{% url 'under18-hackers' %}" class='btn btn-secondary'>Minors</a>
</div>
<div class="container" style="width: 90%;">
    <div class="row justify-content-between align-items-center" style="margin-top: 5px; ">
        <div class="col-4">
            <h3 class="text-center" >All Hackers</h3>
        </div>
        <div class="col-5 align-self-center justify-content-end" >
            <form class="row justify-content-end" action="{% url 'display-hackers' %}" method="GET">
                <div class="col">
                    <input id="user-input" name="q" class="form-control form-control-sm ml-3" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div class="col">
                    <a class="btn btn-outline-warning btn-sm" style="margin-left: 4px;" href="{% url 'display-hackers' %}">Reset Search</a>
                </div>
            </form> 
        </div>
    </div>
</div>
<div class="container w-75 mt-1">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="checked-in-tab" data-bs-toggle="tab" data-bs-target="#checked-in" type="button" role="tab" aria-controls="checked-in" aria-selected="true">Checked-In</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="non-checked-in-tab" data-bs-toggle="tab" data-bs-target="#non-checked-in" type="button" role="tab" aria-controls="non-checked-in" aria-selected="false">Non Checked-In</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="checked-in" role="tabpanel" aria-labelledby="checked-in-tab">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Food Preference</th>
                        <th scope="col">Shirt Size</th>
                        <th scope="col">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in checked_in_hackers %}
                    <tr>
                        <td>{{h.user.first_name}} {{h.user.last_name}}</td>
                        <td>{{h.user.email}}</td>
                        <td>{{h.user.food_preference}}</td>
                        <td>{{h.user.shirt_size}}</td>
                        <td>{{h.user.registration_comment}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="non-checked-in" role="tabpanel" aria-labelledby="non-checked-in-tab">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Food Preference</th>
                        <th scope="col">Shirt Size</th>
                        <th scope="col">Comments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for h in nonchecked_in_hackers %}
                    <tr>
                        <td>{{h.user.first_name}} {{h.user.last_name}}</td>
                        <td>{{h.user.email}}</td>
                        <td>{{h.user.food_preference}}</td>
                        <td>{{h.user.shirt_size}}</td>
                        <td>{{h.user.registration_comment}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr>
{% endblock %}



{% block script %}
{% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> {% endcomment %}
{% endblock script %}
