{% extends 'organizers/base.html' %}
{% block content %}
 
 <br>

<div class="container w-75 mt-3">
    <div class="row justify-content-between align-items-center" style="margin-top: 5px; ">
        <div class="col-5">
            <h2 class="text-left" >Your Dope Ass Team</h2>
        </div>
        <div class="col-5 d-flex align-self-center justify-content-end">
            <a class="btn btn-success" href="{% url 'add-organizer' %}">+</a>
        </div>
    </div>
 <div class="d-flex justify-content-center">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody>
                {% for o in all_organizers %}
                    <tr>
                        <td><a class="text-decoration-none text-black" href="{% url 'edit-organizer' o.user.id %}">{{o.user.first_name}} {{o.user.last_name}}</a> </td>
                        <td>{{o.user.email}}</td>
                        <td><a class="btn btn-warning" href="{% url 'delete-organizer' o.id %}">Delete</a><td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<hr>
{% endblock %}
