{% extends 'organizers/base.html' %}

{% load static %}

{% block content %}
  <head>
    <style>
      .organizerForm {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        height: fit-content;
        background-color: #343a40;
        border-radius: 25px;
        color: #fff;
        padding: 2%;
        text-align: center;
      }

      .centerHeaderText {
        text-align: center;
        color: #fff;
      }

      .btn:hover {
         border-color: #fff;
      }
    </style>
  </head>
  <body>
    <div>
      {% if messages %}
        <div class="row mt-4 justify-content-center">
          <div class="col-6">
            {% for message in messages %}
              <div class="alert alert-info alert-dismissible fade show mx-auto" role="alert">
                  <strong style="text-align: center; margin: 0;">{{message}}</strong>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      <form class="organizerForm" id="Reset-Tables-Form" method="POST" >
        {% csrf_token %}
        <h4 class="centerHeaderText" style="margin-bottom: 3%">Reset Table(s)</h4>
        <div class="form-row text-start" >
            <div class="col-md-12 mb-3">
                {{reset_form.as_p}}
            </div>
        </div>
        <div class="form-row justify-content-center" >
            <div class="col-md-6 mb-3 text-center" >
              <a class="btn btn-lg btn-outline-success disabled" id="confirmation-button" data-bs-toggle="modal" data-bs-target="#Confirmation" style="background-color: rgb(54, 94, 60); color: #fff;">Confirm</a>
            </div>                    
        </div>
      </form>
      <div class="modal fade" id="Confirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmationLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content ">
            <div class="modal-header text-center">
              <h2>Action Confirmation Required</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
              <h3>You're attempting delete entries from the HackTCNJ PostgreSQL server. This action should only be done <strong>AFTER</strong> the current year's hackathon has passed!</h3>
              <ul>
                <li class="text-start"><h5> Selecting "User Base" will erase <strong>ALL</strong> users except for the head admin from the server.</h5></li>
                <li class="text-start"><h5> Selecting "User Base" will erase <strong>ALL</strong> recorded waitlist sign-ups.</h5></li>
              </ul>
              
              <h4>If these actions are done too early, it could negatively impact the hackathon!</h4>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-info" name="reset-form" tabindex="0" value="Add" id="confirmationButton" form="Reset-Tables-Form">Confirm!</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block script %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        function checkCheckboxes() {
          const checkboxes = document.querySelectorAll('input[name="Selections"]:checked');
          const confirmationButton = document.getElementById('confirmation-button');
          console.log(checkboxes)
          if (checkboxes.length > 0) {
            confirmationButton.classList.remove('disabled');
          } else {
            confirmationButton.classList.add('disabled');
          }
        }

        checkCheckboxes();

        const checkboxElements = document.querySelectorAll('input[name="Selections"]');
            checkboxElements.forEach(function(checkbox) {
                checkbox.addEventListener('change', checkCheckboxes);
            });
      });
    </script>
    {% endblock script %}

  </body>
{% endblock %}