{% extends 'organizers/base.html' %}
{% block content %}
 
<br>


{% if head_org %}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Waiting List Mode</h5>
        <form method="POST">  {% csrf_token %}
          <div class="row justify-content-between">
            <div class="col-8">
              <p class="card-text">Change the deployed site from waiting list mode to a live site. This site visitors to register for the hackathon, see the current sponsors, read FAQ</p>
            </div>
            <div class="col-2">
              <div class="form-check form-switch">
                  <input name="toggle-waitlist-control" class="form-check-input" style="font-size:1.67em;" type="checkbox" role="switch" id="flexSwitchCheckChecked" {% if current_setting.waiting_list_status %} checked {% endif %} >
              </div>
            </div>
          </div>
          <br>
          <input type="submit" class="btn btn-primary" value="Confirm Changes">
        </form>
  </div>
</div>

{% endif %}

{% endblock %}
