{% extends 'hackers/base.html' %}

{% load static %}
{% load qr_code %}
{% block content %}
  <head>
    {% comment %} <link rel="stylesheet" href="{% static 'css/landing_css/style.css' %}"> {% endcomment %}
  </head>
  <body>

    <a href="{% url 'logout' %}" class="btn btn-danger" style="display:block !important; margin: 0 auto; border-radius: 10px">logout</a>
  <h2>Your Profile</h2>
  <h3>Name:</h3> <h4 class="text-danger">{{ hacker.user.first_name }} {{ hacker.user.last_name }}</h4>
  <h3>Email:</h3><h4 class="text-danger">{{ hacker.user.email }}</h4>
  <h3>Address:</h3><h4 class="text-danger">{{ hacker.user.address }}</h4>
  <h3>Shirt Size:</h3><h4 class="text-danger">{{ hacker.user.shirt_size }}</h4>
  <h3>gender:</h3><h4 class="text-danger">{{ hacker.user.gender }}</h4>
  <h3>school_name:</h3><h4 class="text-danger">{{ hacker.user.school_name }}</h4>
  <h3>age:</h3><h4 class="text-danger">{{ hacker.user.age }}</h4>
  <h3>major:</h3><h4 class="text-danger">{{ hacker.user.major }}</h4>
  <h3>level_of_study:</h3><h4 class="text-danger">{{ hacker.user.level_of_study }}</h4>
  <h3>Food Preference:</h3><h4 class="text-danger">{{ hacker.user.food_preference }}</h4>
  <h3>Comment:</h3><h4 class="text-danger">{{ hacker.user.registration_comment }}</h4>


  <br>
  <h2>Use this QR code to check in to event</h2>
    <center>{% qr_from_text check_in_url size="T" dark_color="darkblue" image_format="png"%}</center>

  </body>
{% endblock %}