{% extends 'hackers/base.html' %}

{% load static %}
{% load qr_code %}
{% block content %}
  <head>
    {% comment %} <link rel="stylesheet" href="{% static 'css/landing_css/style.css' %}"> {% endcomment %}
  </head>
  <body>

  <h1 class="text-center mt-3"> Welcome! Thank you for attending this year's HackTCNJ.</h1>
  
  <br>
  <h4 class="text-center">Use this QR code to check in to event</h2>
    <center>{% qr_from_text check_in_url size="T" dark_color="darkblue" image_format="png"%}</center>

  </body>
{% endblock %}